body {
  background: #edf6f9;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

body,
form,
div,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
table,
table tr,
table td {
  border: none;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

input,
textarea,
select {
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.mainer {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 32px;
  text-align: center;
  font-weight: 600;
}

.group_title {
  font-size: 24px;
  margin: 15px 0 0 0;
  font-weight: 600;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0 0 0;
}

.form_profile-info .required_star, .form_address-info .required_star {
  display: inline;
  color: red;
}

.form_profile-info input, .form_profile-info select, .form_address-info input, .form_address-info select {
  margin: 7px 0px;
  font-size: 17px;
  background-color: #83c5be;
  border-radius: 7px;
  padding: 5px 10px;
}

.form_profile-info input::-webkit-input-placeholder, .form_profile-info select::-webkit-input-placeholder, .form_address-info input::-webkit-input-placeholder, .form_address-info select::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.form_profile-info input:-ms-input-placeholder, .form_profile-info select:-ms-input-placeholder, .form_address-info input:-ms-input-placeholder, .form_address-info select:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.form_profile-info input::-ms-input-placeholder, .form_profile-info select::-ms-input-placeholder, .form_address-info input::-ms-input-placeholder, .form_address-info select::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.form_profile-info input::placeholder, .form_profile-info select::placeholder, .form_address-info input::placeholder, .form_address-info select::placeholder {
  color: rgba(0, 0, 0, 0.8);
}

.form_profile-info input[type="checkbox"], .form_profile-info select[type="checkbox"], .form_address-info input[type="checkbox"], .form_address-info select[type="checkbox"] {
  display: inline;
}

.form_profile-info input[type="submit"], .form_profile-info select[type="submit"], .form_address-info input[type="submit"], .form_address-info select[type="submit"] {
  cursor: pointer;
  background-color: #fec107;
  border-radius: 20px;
  padding: 5px 10px;
}

.form_profile-info input[type="submit"]:hover, .form_profile-info input[type="submit"]:focus, .form_profile-info select[type="submit"]:hover, .form_profile-info select[type="submit"]:focus, .form_address-info input[type="submit"]:hover, .form_address-info input[type="submit"]:focus, .form_address-info select[type="submit"]:hover, .form_address-info select[type="submit"]:focus {
  background-color: #fec007bb;
}

.form_profile-info input:focus, .form_profile-info select:focus, .form_address-info input:focus, .form_address-info select:focus {
  border: 2px solid #778899;
  padding: 3px 8px;
}

.form_profile-info .error_message, .form_address-info .error_message {
  color: red;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;
  margin: 0 0 0 5px;
  width: 400px;
  visibility: hidden;
}

.welcome_message_profile, .welcome_message_address {
  background-color: #778899;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 15px;
  padding: 15px;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  border-radius: 3%;
  max-width: 300px;
  margin: 10px 0px;
  display: none;
}

[class^="edit-button"], [class^="cancel-button"], [class^="add-button"] {
  background-color: #fec107;
  max-width: 80px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  font-size: 17px;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  display: none;
}

[class^="edit-button"]:hover, :hover[class^="cancel-button"], [class^="edit-button"]:focus, :focus[class^="cancel-button"], [class^="add-button"]:hover, [class^="add-button"]:focus {
  background-color: #fec007bb;
}
/*# sourceMappingURL=main.css.map */